<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add new user</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div>
                <label for="uname"><b>Username: </b></label>
                <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="username" required>
            </div>

            <div>
                <label for="psw"><b>Password: </b></label>
                <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>
            </div>
            <div>
                <label for="userType"><b>UserType: </b></label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [(ngModel)]="usertype" name="usertype">
                    <mat-radio-button class="example-radio-button" *ngFor="let usertype of usertypes"
                        [value]="usertype">
                        {{usertype}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
            (click)="modal.close('Save click'); registerNewUser()">Save</button>
    </div>
</ng-template>

<button (click)="open(content)">Add new user</button>

<hr>