<div class="imgcontainer">
    <img src="https://scontent.fsyd8-1.fna.fbcdn.net/v/t1.15752-9/94318675_278110343208343_961872326964543488_n.png?_nc_cat=100&_nc_sid=b96e70&_nc_ohc=Yz-B7EIgLQMAX8Ppj2o&_nc_ht=scontent.fsyd8-1.fna&oh=fc7b605110af7588b8b9a7158122214d&oe=5ECACE31"
        alt="utsquirk_logo">
</div>

<form *ngIf="!loggedInUser" class="form" (ngSubmit)="login()">
    <div class="container">
       <label for="uname"><i>Welcome to UTSQuirk please enter</i><b> Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" required>

        <button type="submit">Login</button>
        <!-- <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label> -->
        <div *ngIf="incorrectLogin">
            <div class="alert alert-danger">
                <strong>Incorrect Username or password!</strong>
            </div>
        </div>
    </div>
</form>

<div *ngIf="loggedInUser">
    <h2>{{username}} is logged in</h2>
    <button (click)=logout() type="submit">Logout</button>

    <div *ngIf="loggedInUser.userType == 'user'">
        <button (click)=getUrl()>Save</button>
   
            
<!--         <iframe width="100%" height=1000px frameBorder="0" [src]="urlSafe" id="quirk"></iframe>
 -->    </div>

    <div *ngIf="loggedInUser.userType == 'admin'">
        User List:
        <table mat-table [dataSource]="userList" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
            </ng-container>
          
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef> Username </th>
              <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
          
            <ng-container matColumnDef="Type">
              <th mat-header-cell *matHeaderCellDef> User Type </th>
              <td mat-cell *matCellDef="let element"> {{element.userType}} </td>
            </ng-container>

            <ng-container matColumnDef="View">
                <th mat-header-cell *matHeaderCellDef> View</th>   
                <td mat-cell *matCellDef="let element"> 
                    <app-view-user-modal [message]="element"></app-view-user-modal>
                </td>
              </ng-container>
            <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>   
                <td mat-cell *matCellDef="let element"> 
                    <button mat-raised-button (click)=deleteUser(element)>Delete</button> 
                </td>
              </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        <app-add-user-modal></app-add-user-modal>
    </div>
</div>
<app-simulator></app-simulator>
