

/*login card*/
.example-card {
  max-width: 20em !important;
}



/*card centerer*/
.card-holder{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-holder{
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-spacer {
  flex: 1 1 auto;
}

/* Full-width inputs*/
/*input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
*/
/* Set a style for all buttons */
/*
button {
  /*background-color: #0f4beb;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;*/
  /*display: inline-block;
  padding: 6px 16px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0f4beb;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px #999;
}
*/

/* Add a hover effect for buttons 
button:hover {
  /*opacity: 0.8;
  color: #000000;
  background-color: #fff;
  border: 3px solid #0f4beb;*/
/*
  background-color: #270479

}

.button:active {
  background-color: #270479;
  box-shadow: 0 1px rgb(219, 217, 217);
  transform: translateY(2px);
}
*/
/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  width: 25%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/*
img {
  max-width: 100%;
  height: auto;
}
*/ 

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

/*
table {
  width: 100%;
}
*/